# Typically install this file in /etc/systemd/system/ and enable it for any given network interface with (example with eth0):
# systemctl enable macspoof@eth0

[Unit]
Description=macchanger on %I
Wants=network-pre.target
Before=network-pre.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/usr/bin/macchanger -b -a %I
Type=oneshot

[Install]
WantedBy=multi-user.target
